.animated-digit {
    display: inline-flex;
    height: 60px;
    width: 60px;
    color: white;
    text-align: center;
    padding: 24px;
    justify-content: center;
    align-items: center;
    font-size: 32pt;
}