@media only screen and (max-width: 600px) {

    .main-title {
        font-size: 34px !important;
        font-family: inherit !important;
    }

    .typewriter-text {
        font-family: inherit !important;
        font-size: 5vw !important;
    }
}

.video-outer {
    background-color: #252525;
    position: relative;

    .overlay-desc {
        background: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .main-title {
            color: white;
            font-family: inherit;
            font-size: 5vw;
            text-align: center;
        }
    }
}


.top-nav {
    background: #ffcb0f none repeat scroll 0 0;
    overflow: hidden;
    padding: 10px 0;

    .list-inline {
        padding-left: 0;
        list-style: none;
    }

    .list-inline.info {
        float: left;
        margin: 0;
        padding: 6px 6px 6px 14px;

        a {
            color: #222;
            font-family: inherit;
        }

        li {
            padding: 0 20px 0 0;
        }

        span {
            font-size: 20px;
            vertical-align: middle;
        }
    }

    .list-inline.social_icon {
        margin: 0;
        font-size: 24px;
        position: absolute;
        right: 14px;
        cursor: pointer;

        a {
            color: #222;
            font-family: inherit;
        }
    }

    .list-inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.navbar {
    .nav-link {
        color: #fff
    }

    .nav-link:hover {
        color: #aaaaaa
    }
}

.site-footer {
    background-color: #fafafa;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: black;
}

//service area start
.section-title {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;

    &.work-of-excellence {
        margin-top: 30px;
    }
}

.section-sub-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin: 0 0 60px;
    color: #212121;

    &.recent-project {
        margin: 0 0 30px;
    }
}

.ts-service-area {
    .service-center-img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .ts-service-box .ts-service-box-info {
        margin-left: 90px;
        margin-bottom: 40px;

        .service-box-title {
            font-size: 16px;
            margin: 0 0 10px;
        }

        .service-box-title a {
            color: #333;
            text-transform: uppercase;
        }

        .service-box-title a:hover {
            color: #ffb600;
            text-decoration: none;
        }
    }

}

//service area end

.facts-area {
    padding: 70px 0;

    &.dark-bg {
        background: #252525;
        color: #fff;
    }

    .ts-facts-content {
        .ts-facts-title {
            font-size: 16px;
            color: #ffb600;
            margin: 0;
        }
    }

    .animated-digit {
        display: inline-flex;
        height: 60px;
        width: 60px;
        color: white;
        text-align: center;
        padding: 24px;
        justify-content: center;
        align-items: center;
        font-size: 32pt;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;

    .scroll-top-top-inner {
        background: transparent;
        border: none;
        font-size: 50px;
        color: #ffcb0f;
        outline: none;
    }
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.typewriter h1 {
    color: #fff;
    font-family: cursive;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.copy-right {
    display: flex;
    justify-content: center;
}

.card-body {
    display: block;
    text-align: center;
}




.masonry {
    /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.item img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}