<header class="header-outer" id="header">
  <div class="top_nav">
    <div class="container m-0 p-0">
      <ul class="list-inline info">
        <li><span class="fa fa-phone"></span> +91 7888226600</li>
        <li><span class="fa fa-envelope"></span> choudhariconstruction@gmail.com</li>
        <li><span class="fa fa-clock-o"></span> Mon - Sat 9:00 - 21:00 </li>
      </ul>
      <ul class="list-inline social_icon">
        <li><span class="fa fa-facebook"></span></li>
        <li><span class="fa fa-twitter"></span></li>
        <li><span class="fa fa-linkedin"></span></li>
        <li><span class="fa fa-youtube"></span></li>
      </ul>
    </div>
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Choudhari Construction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#footer">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ts-service-area">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ongoing-projects">Ongoing Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#upcoming-projects">Upcoming Projects</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li> -->
      </ul>
    </div>
  </nav>
  <div class="header-video">
    <video [muted]="true" autoplay playsinline loop width="100%" height="auto">
      <source src="../assets/videos/choudhari-construction.mp4" type="video/mp4">
    </video>
    <div class="overlay-desc">
      <h1 class="main-title">Choudhari Construction</h1>
      <div class="typewriter">
        <div class="typewriter-text">You Dream it, We Build it.</div>
      </div>
    </div>
  </div>
</header>

<section id="facts" class="facts-area dark-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-6 ts-facts pb-4">
        <div class="ts-facts-img">
          <img src="../assets/images/icon-image/fact1.png" alt="">
        </div>
        <div class="ts-facts-content">
          <animated-digit [digit]="20" [duration]="1000"></animated-digit>
          <h3 class="ts-facts-title">Total Projects</h3>
        </div>
      </div>

      <div class="col-sm-6 ts-facts">
        <div class="ts-facts-img">
          <img src="../assets/images/icon-image/fact2.png" alt="">
        </div>
        <div class="ts-facts-content">
          <animated-digit [digit]="8" [duration]="1000"></animated-digit>
          <h3 class="ts-facts-title">Happy Customers</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ts-service-area" class="ts-service-area">
  <div class="container pt-4">
    <div class="text-center">
      <h2 class="section-title">We Are Specialists In</h2>
      <h3 class="section-sub-title">What We Do</h3>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-md-4">
        <div class="ts-service-box">
          <div class="ts-service-box-img pull-left">
            <img src="../assets/images/icon-image/service-icon1.png" alt="">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Home Construction</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div><!-- Service 1 end -->

        <div class="ts-service-box">
          <div class="ts-service-box-img pull-left">
            <img src="../assets/images/icon-image/service-icon2.png" alt="">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Building Remodels</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div><!-- Service 2 end -->

        <div class="ts-service-box">
          <div class="ts-service-box-img pull-left">
            <img src="../assets/images/icon-image/service-icon3.png" alt="">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Interior Design</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div><!-- Service 3 end -->

      </div><!-- Col end -->

      <div class="col-md-4 text-center pb-4">
        <img class="service-center-img img-responsive" src="../assets/images/service-center.jpg" alt="">
      </div><!-- Col end -->

      <div class="col-md-4">
        <div class="ts-service-box">
          <div class="ts-service-box-img pull-left">
            <img src="../assets/images/icon-image/service-icon4.png" alt="">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Exterior Design</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div><!-- Service 4 end -->

        <div class="ts-service-box">
          <div class="ts-service-box-img pull-left">
            <img src="../assets/images/icon-image/service-icon5.png" alt="">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Renovation</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div><!-- Service 5 end -->

        <div class="ts-service-box">
          <div class="ts-service-box-img pull-left">
            <img src="../assets/images/icon-image/service-icon6.png" alt="">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Safety Management</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div><!-- Service 6 end -->
      </div><!-- Col end -->
    </div><!-- Content row end -->

  </div>
  <!--/ Container end -->
</section>


<section id="ongoing-projects" class="ongoing-projects">
  <h3>Ongoing Projects</h3>
  <div id="op" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#op" data-slide-to="0" class="active"></li>
      <li data-target="#op" data-slide-to="1"></li>
      <li data-target="#op" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/images/ongoing-project-images/op1.jpg" alt="Los Angeles" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/ongoing-project-images/op2.jpg" alt="Chicago" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/ongoing-project-images/op3.jpg" alt="New York" width="1100" height="500">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#op" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#op" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<section id="upcoming-projects" class="upcoming-projects mt-4 mb-4">
  <h3>Upcoming Projects</h3>
  <div id="cp" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#cp" data-slide-to="0" class="active"></li>
      <li data-target="#cp" data-slide-to="1"></li>
      <li data-target="#cp" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/images/completed-project-images/cp1.jpg" alt="Los Angeles" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/completed-project-images/cp2.jpg" alt="Chicago" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/completed-project-images/cp3.jpg" alt="New York" width="1100" height="500">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#cp" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#cp" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>


<!-- Site footer -->
<footer class="site-footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6 style="color: #ffcb0f;">About</h6>
        <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 style="color: #ffcb0f;">Address</h6>
        <div>Choudhari Construction, Narkhede Complex, Malkapur, Dist. Buldhana</div>
        <!-- <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
          <li><a href="http://scanfcode.com/category/android/">Android</a></li>
          <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
        </ul> -->
      </div>

      <!-- <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div> -->
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
          <a href="#">Choudhari Construction</a>.
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button (click)="scrollToTop()" class="scroll-top-top-inner" title="Scroll to Top">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>