@media only screen and (max-width: 600px) {

    .main-title {
        font-size: 34px !important;
        font-family: inherit !important;
    }

    .typewriter-text {
        font-family: inherit !important;
        font-size: 5vw !important;
    }
}

.index-image{
    position: relative;
    img{
        width: 100%;
    }
    .overlay-desc {
        background: rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .main-title {
            color: white;
            font-family: inherit;
            font-size: 5vw;
            text-align: center;
        }
    }
}

.section-title {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;

    &.work-of-excellence {
        margin-top: 30px;
    }
}

.section-sub-title {
    color: #333333;
    margin: 0 auto 27px;
    text-align: center;
    font-size: 52px;
    line-height: 1.2307692308;
    font-weight: 200;
    letter-spacing: normal;
    &.recent-project {
        margin: 0 0 30px;
    }
}

.ts-service-area {
    .service-center-img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .ts-service-box .ts-service-box-info {
        margin-left: 90px;
        margin-bottom: 40px;
        p{
            color: #797979;
            font-size: 14px;
            font-weight: 300;
        }
        .service-box-title {
            font-size: 16px;
            margin: 0 0 10px;
           
        }

        .service-box-title a {
            color: #565555;
            font-weight: 200;
            font-size: 20px;
            text-transform: uppercase;
        }

        .service-box-title a:hover {
            color: #ffb600;
            text-decoration: none;
        }
    }

}

.facts-area {
    padding: 70px 0;

    &.dark-bg {
        background: rgb(51 51 51);
        color: #fff;
    }

    .ts-facts-content {
        .ts-facts-title {
            font-size: 16px;
            color: #ffb600;
            margin: 0;
        }
    }

    .animated-digit {
        display: inline-flex;
        height: 60px;
        width: 60px;
        color: white;
        text-align: center;
        padding: 24px;
        justify-content: center;
        align-items: center;
        font-size: 32pt;
    }
}



.typewriter h1 {
    color: #fff;
    font-family: cursive;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.copy-right {
    display: flex;
    justify-content: center;
    
}

a{
    color:#0088cc;
}

h6{
    color: #666;font-weight: 200; font-size: 26px;
}

.card-body {
    display: block;
    text-align: center;
}