<!-- <div class="video-outer">
    <video [muted]="true" autoplay playsinline loop width="100%">
      <source src="../assets/videos/choudhari-construction.mp4" type="video/mp4">
    </video>
    <div class="overlay-desc">
      <h1 class="main-title">Choudhari Construction</h1>
      <div class="typewriter">
        <h1 class="typewriter-text">You Dream it, We Build it.</h1>
      </div>
    </div>
  </div> -->

  <div class="index-image">
    <div class="main-image lazyload"></div>
    <div class="index-image-overlay"></div>
    <div class="overlay-desc">
      <h1 class="main-title" data-aos="fade-left" data-aos-delay="100">Choudhari Construction</h1>
      <div class="typewriter" data-aos="fade-right" data-aos-delay="100">
        <h1 class="typewriter-text">You Dream it, We Build it.</h1>
      </div>
    </div>
  </div>
  
  <section id="facts" class="facts-area dark-bg">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6 ts-facts pb-4" data-aos="zoom-in">
          <div class="ts-facts-img">
            <img src="../assets/images/icon-image/fact1.png" alt="">
          </div>
          <div class="ts-facts-content">
            <animated-digit [digit]="53" [duration]="1000"></animated-digit>
            <h3 class="ts-facts-title">Total Projects</h3>
          </div>
        </div>
  
        <div class="col-sm-6 ts-facts" data-aos="zoom-in">
          <div class="ts-facts-img">
            <img src="../assets/images/icon-image/fact2.png" alt="">
          </div>
          <div class="ts-facts-content">
            <animated-digit [digit]="64" [duration]="1000"></animated-digit>
            <h3 class="ts-facts-title">Happy Customers</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="ts-service-area" class="ts-service-area">
    <div class="container pt-4">
      <div class="text-center" data-aos="zoom-in">
        <h2 class="section-title">We Are Specialists In</h2>
        <h3 class="section-sub-title">What We Do</h3>
      </div>
      <!--/ Title row end -->
  
      <div class="row">
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
          <div class="ts-service-box">
            <div class="ts-service-box-img pull-left">
              <img src="../assets/images/icon-image/service-icon1.png" alt="">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Planning & Estimate</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 1 end -->
  
          <div class="ts-service-box">
            <div class="ts-service-box-img pull-left">
              <img src="../assets/images/icon-image/service-icon2.png" alt="">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">3D Views</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 2 end -->
  
          <div class="ts-service-box">
            <div class="ts-service-box-img pull-left">
              <img src="../assets/images/icon-image/service-icon3.png" alt="">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">RCC Design</a></h3>
              <p>Reinforced concrete (RC), also called reinforced cement concrete (RCC), is a composite material in which concrete's relatively low tensile strength and ductility are compensated for by the inclusion of reinforcement having higher tensile strength or ductility.</p>
            </div>
          </div><!-- Service 3 end -->
  
        </div><!-- Col end -->
  
        <div class="col-md-4 text-center pb-4">
          <img class="service-center-img img-responsive" src="../assets/images/service-center.jpg" alt="">
        </div><!-- Col end -->
  
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
          <div class="ts-service-box">
            <div class="ts-service-box-img pull-left">
              <img src="../assets/images/icon-image/service-icon4.png" alt="">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Supervision & Quality Control</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 4 end -->
  
          <div class="ts-service-box">
            <div class="ts-service-box-img pull-left">
              <img src="../assets/images/icon-image/service-icon5.png" alt="">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Contractors</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 5 end -->
  
          <div class="ts-service-box">
            <div class="ts-service-box-img pull-left">
              <img src="../assets/images/icon-image/service-icon6.png" alt="">
            </div>
            <div class="ts-service-box-info">
              <h3 class="service-box-title"><a href="#">Safety Management</a></h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
            </div>
          </div><!-- Service 6 end -->
        </div><!-- Col end -->
      </div><!-- Content row end -->
  
    </div>
    <!--/ Container end -->
  </section>
  
  <div id="recent-projects" class="container projects mb-4">
    <div class="text-center" data-aos="zoom-in">
      <h2 class="section-title work-of-excellence">WORK OF EXCELLENCE</h2>
      <h3 class="section-sub-title recent-project">RECENT PROJECTS</h3>
    </div>
    <div class="row">
      <div class="col-sm-4 my-2" data-aos="fade-up" data-aos-duration="1000">
        <div class="card">
          <img class="card-img-top lazyload" src="../assets/images/completed-project-images/cp3.jpg" alt="Bologna">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Completed Projects</h6>
            <a routerLink="/gallary/completed" routerLinkActive="active" class="card-link">View More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-2">
        <div class="card">
          <img class="card-img-top lazyload" src="../assets/images/completed-project-images/cp4.jpg" alt="Bologna">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Ongoing Projects</h6>
            <a routerLink="/gallary/ongoing" class="card-link">View More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-2" data-aos="fade-up" data-aos-duration="1000">
        <div class="card">
          <img class="card-img-top lazyload" src="../assets/images/completed-project-images/cp3.jpg" alt="Bologna">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Upcoming Projects</h6>
            <a routerLink="/gallary/upcoming" class="card-link">View More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  